@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./shared/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  src: url("./shared/fonts/Montserrat/Montserrat-Bold.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}
